{% extends 'base.html' %}
{% load static %}
{% block title %}Acerca de mí - PeluSport{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
  <div class="col-md-8 text-center">
    <img src="{% static 'img/perfil.jpg' %}" class="img-thumbnail mb-4" style="width: 200px;" alt="Foto de perfil">
    <h2>Erik Vasconcellos</h2>
    <p class="lead">Aprendiendo poco a poco sobre el mundo de la programación.</p>
    <p class="lead"></p>Proyecto creado para el curso de Python Flex en Coderhouse</p>
    <p>Gracias por visitar PeluSport ⚽</p>
  </div>
</div>
{% endblock %}